body {
    background-color: white;
}
main {
    margin-left: 160px;
    padding: 0px 10px;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

code {
    background-color: #cccccc;
    display: block;
    padding: 20px;
}
#navbar {
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    float: left;
    text-align: center;
}

.nav-link {
    display: block;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
}

.nav-link a:hover {
    color: #f1f1f1; /* Not Working... don't know why */
}

@media screen and (max-width: 750px) {
    body {
        background-color: blue;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: olive;
    }
}

@media screen and (max-width: 600px) {
    .nav-link {
        float: none;
        width: 100%;
    }
}