
#body {
  text-align:center;
  max-width: auto;
  max-height: auto;
}

#main{
  margin: 30px auto;
  padding: 15px;
  border: 0px solid;
  border-radius: 5px;
  background: #f4f4f4;
}

img {
  max-width: 1000px;
  max-height: 800px;
  display: block;
  height: auto;
  width: 100%;
  margin: auto;
  object-fit: contain;
}

.italic {
    font-style: italic;
}
