h1 {
    color: #ff24ff;

    /* border-color: purple;
    border-width: 5px;
    border-style: solid; */

    border: 2px solid rgb(255, 100, 80)
}

    /* Border has 3 different parts
    width
    color
    style */
    

li {
    color: rgba(63, 128, 63, .3);
}

h4 {
    background: rgb(255, 100, 80);
}

body {

    background: pink;

    /* background: url(https://kravetdotcom.imgix.net/catalog/product/cache/image/700x700/beff4985b56e3afdbeabfc89641a4582/1/0/107_10045_CS.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

